<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
    <link rel="stylesheet" href="demo1.css"/>
</head>
<body>
<h3>基于：margin-left</h3>
<div class="main-conternt">
    <div class="col-3">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>

</div>


<h3>基于：translate</h3>
<div class="translate_center">您可以尝试改变浏览器大小，这个元素依然是水平垂直居中的哦！
    <div class="translate_center" style="background: red">您可以尝试改变浏览器大小，这个元素依然是水平垂直居中的哦！</div>
</div>
</body>
</html>