<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于html5的排版布局</title>
</head>
<body>
<pre>

    article  标记定义一篇文章
    header  标记定义一个页面或一个区域的头部
    nav   标记定义导航链接
    section  标记定义一个区域
    aside  标记定义页面内容部分的侧边栏
    hgroup  标记定义文件中一个区块的相关信息
    figure  标记定义一组媒体内容以及它们的标题
    figcaption  标签定义 figure 元素的标题。
    footer  标记定义一个页面或一个区域的底部
    dialog  标记定义一个对话框(会话框)类似微信


    b 代表内联文本，通常是粗体，没有传递表示重要的意思
    i 代表内联文本，通常是斜体，没有传递表示重要的意思
    dd 可以同details与figure一同使用，定义包含文本，dialog也可用
    dt 可以同details与figure一同使用，汇总细节，dialog也可用
    hr 表示主题结束，而不是水平线，虽然显示相同
    menu 重新定义用户界面的菜单，配合commond或者menuitem使用
    small 表示小字体，例如打印注释或者法律条款
    strong 表示重要性而不是强调符号


</pre>


<header>header</header>
<nav>
    <ul>
        <li></li>
        <li></li>
    </ul>
</nav>

<section>

    <article>
        <header>header</header>
        <p>内容</p>
        <footer>footer</footer>
    </article>

</section>

<aside>aside</aside>
<footer>header</footer>


<style>
    header{
        width:1000px;
    }
</style>
</body>
</html>