.mapLeaf{
    width: 100%;
    height: 100%;
}

.water-icon-rise{
    transform:rotate(90deg);
    color: #1416A2;
}

.water-icon-normal{
    color: #1416A2;
}

.water-icon-fall{
    transform:rotate(-90deg);
    color: #1416A2;
}

.water-icon-overWarn{
    color: #FF00FF;
}

.water-icon-overNor{
    color: #FF0000;
}


.rain-icon-normal{
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 12px;
    padding: 0 5px;
    height: 12px;
    display: inline-block;
}
.rain-icon-null{
    background-color:  #CCCCCC;
}
.rain-icon-0{
   background-color:  #ffffff;
}

.rain-icon-1{
    background-color:  #A9F18D;
}

.rain-icon-2{
    background-color:  #38A801;
}

.rain-icon-3{
    background-color:  #61B8FF;
}

.rain-icon-4{
    background-color:  #0100FC;
}

.rain-icon-5{
    background-color:  #FA00FA;
}

.rain-icon-6{
    background-color:  #FF0000;
}

@-webkit-keyframes twinkling{	/*透明度由0到1*/
    0%{
        opacity:0;				/*透明度为0*/
    }
    100%{
        opacity:1;				/*透明度为1*/
    }
}
 /*未完成预警闪烁*/
rain-icon-warn{
    animation: twinkling 1s infinite ease-in-out;
}



.my-div-icon{
    text-align: center;
}

.icon-value-color{
    color: #44BE16;
}

.icon-value{
    background-color: rgba(0,0,0,0.6);
    border-radius: 0.09rem 0.09rem;
    border: 1px solid #000000;
    padding: 0.0133rem 0.04rem;
    margin-left: 0.13rem !important;
}

.icon-value-hidden{
    display: none;
}

.icon-img-style{
    width: 0.5rem;
}

/******************************************************************/

.mapleft-popup .leaflet-popup-content-wrapper{
    padding: 0;
    border-radius: 5px;
}
.map-popup-dialog{
    width: 5.5rem;
}

.map-popup-left{
    padding-right: 0;
    padding: 0.3rem 0.5rem;
    background-color: #2C81FF;
    border-radius: 5px 0 0 5px;
}

.map-popup-body{
    vertical-align: middle;
    padding: 0.1rem 0.4rem;
}
.map-icon-popup-rainy{
    font-size: 60px;
    line-height: 0.5;
    color: #ffffff;
}

.mapLeaf .leaflet-left{
    width: 100%;
}

.mapLeaf .leaflet-left .leaflet-control-attribution{
    width: 100%;
    text-align: center;
}

.mapLeaf .leaflet-container .leaflet-control-attribution{
    background: #000000;
    color:#ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
    font-size: 0.5rem;
}


.mapLeaf .leaflet-bottom .leaflet-control-attribution{
    background-color: #0274D4;
    padding: 0;
}

.mapLeaf .leaflet-bottom  .mapLeaf-bottom-warn{
    font-family: '微软雅黑';
    letter-spacing: 2px;
    margin: 0;
    font-size: 16px;
    text-align: left;
    background: #0274D4;
    padding: 0.5rem;
}

.mapLeaf .leaflet-bottom .warn-icon-img{
    border: 1px solid #ffffff;
    border-radius: 12px;
    height: 24px;
    display: inline-flex;
    width: 24px;
    font-size: 20px;
    padding: 0px 4.5px;
}

.mapLeaf .leaflet-bottom .showIcon{
    transform:rotate(180deg);
}

.mapLeaf .leaflet-bottom-showTable{
    top:2.7rem
}

.mapLeaf .leaflet-bottom .bottom-color-warn1{
     color: #FF4F50;
}

.mapLeaf .leaflet-bottom .bottom-color-warn2{
    color:#FCB018;
}

.mapLeaf .map-table{
    width: 100%;
    height: 46rem;
    background-color: #ffffff;

    border: 1px solid #000000;
    padding: 0.5rem;
}








